/.phpunit.cache
/node_modules
/public/build
/public/js/*
/public/css/*
/public/hot
/public/storage
/public/images/novas
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
public/images/DALL·E 2024-12-01 19.20.38 - A sleek and modern digital illustration of a 'Proxy List 2024' concept. The design features a glowing server rack in a futuristic environment, surroun.dat-674cefc7804ad.webp
public/images/DALL·E 2024-12-02 13.13.12 - A cartoon-style illustration tailored for an article about dark web search engines, featuring a glowing purple Tor Browser logo prominently displayed .dat-674ddcaccd619.webp
